    .bio-container {

        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        flex-flow: wrap;
    
    }
    .bio-item1 {
        text-align: left;
        flex: 0 1 400px;

    }
.bio-item2 { 
        text-align: left;
        flex: 1 0 40%;

    }

