<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <iframe src="https://co-dialogue-lms.vercel.app/" , style="width: 100vw; height: 100vh;">
    </iframe>
    <title>CoDialogue Space</title>

    <!-- Preconnects & Fonts -->
    <link rel="preconnect" href="https://udify.app" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    </body>

</html>